#details {
  display: flex;
  width: full;
}

#details #imageDiv {
  width: 10%;
  margin-right: 5px;
}

#details #imageDiv img {
  height: 50px;
}

#details .company {
  display: flex;
  align-items: center;
  font-size: 10px;
  width: 30%;
}

#details .company #new, #details .company #featured {
  background: #07a329;
  padding: 4px;
  border-radius: 5px;
  color: white;
  margin: 0 3px;
}

#details .company #featured {
  background: #2c2b2b;
}
