@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
header {
  background: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5ba4a4;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

body {
  background: #eef6f6;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#search-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-flex {
  display: flex;
  width: fit-content;
  height: 25px;
  justify-content: center;
  align-items: center;
  background: #eef6f6;
  margin: 5px;
}

.search-images {
  background: #5ba4a4;
  height: inherit;
  width: 25px;
  padding: 5px;
  align-items: center;
  margin: 0 auto;
}

.search-images:hover {
  background: #000;
}

.search-item {
  margin: 10px;
  height: 20px;
  color: #5ba4a4;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}

.details {
  display: grid;
  grid-template-columns: 1fr 3fr 6fr;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  width: 700px;
  background: #fff;
  height: 120px;
  padding: 20px 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #7b8e8e;
}

.details #imageDiv {
  margin-right: 5px;
}

.details #imageDiv img {
  height: 50px;
}

.details #info {
  display: flex;
  flex-direction: column;
}

.details #info .company {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #5ba4a4;
  justify-content: space-between;
}

.details #info .company .new, .details #info .company .featured {
  height: 20px;
  background: #5ba4a4;
  border-radius: 10px;
  color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.details #info .company .featured {
  background: #2c2b2b;
}

.details #info > h2 {
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
}

.details #info > h2:hover {
  color: #5ba4a4;
}

.details #info #data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;
}

.details #info #data p {
  margin: 0 2px;
  font-size: 10px;
}

.details #info #data .dots {
  height: 3px;
  width: 3px;
  background: black;
  border-radius: 50%;
  opacity: 0.4;
}

.details #skills {
  display: flex;
  justify-self: right;
  flex-wrap: wrap;
}

.details #skills #skilled {
  display: flex;
}

.details #skills #skill {
  margin: 3px;
  background: #eef6f6;
  border-radius: 5px;
  height: fit-content;
  color: #5ba4a4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.details #skills #skill:hover {
  color: #fff;
  background: #5ba4a4;
}

#search-box {
  background: #eef6f6;
  min-height: 50px;
  margin-top: -20px;
  position: relative;
  display: none;
}

#search {
  width: 700px;
  box-shadow: 1px 1px 1px #7b8e8e;
  background: #fff;
  position: relative;
  top: -20px;
  z-index: 10;
  min-height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
  border-radius: 5px;
}

#search div {
  width: 90%;
  border-radius: 5px;
  background: #fff;
  min-height: 40px;
}

#search #clear {
  font-weight: 700;
  padding: 0 4px;
}

#search #clear:hover {
  color: #5ba4a4;
  border-bottom: 2px solid #5ba4a4;
}

@media only screen and (max-width: 400px) {
  header {
    background-repeat: no-repeat;
    background: url("../images/bg-header-mobile.svg");
    background-size: 100%;
    background-color: #5ba4a4;
    width: 100%;
    height: 150px;
    margin: 0 auto;
  }
  #data {
    justify-content: start;
  }
  #data p {
    font-size: 16px;
  }
  .details {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
    align-items: center;
    width: 85vw;
    justify-content: start;
    align-items: start;
    padding: 20px 0;
    margin: 20px auto;
    border-radius: 4px;
  }
  .details #info {
    margin: 20px;
    width: fit-content;
  }
  .details #imageDiv {
    position: absolute;
    top: -30px;
    left: 20px;
  }
  #skills {
    border-top: 2px solid rgba(54, 53, 53, 0.308);
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  #skill {
    flex-wrap: wrap;
  }
  .flex {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
  }
  #search-box {
    width: 90vw;
    margin: 0 auto;
  }
  #search-box #search {
    width: 90vw;
  }
}
