:root{
    --DarkCyan: hsl(180, 29%, 50%);
    --Grayish-Cyan: hsl(180, 52%, 96%);
--LightCyan: hsl(180, 31%, 95%);
--Dark-Grayish-Cyan: hsl(180, 8%, 52%);
--Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}
@import './details';